{% extends "dashboard/base.html" %}

{% block title %}
Generate Schedule
{% endblock %}

{% block page_title %}
Generate Schedule
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h3 class="mb-4">

            Generate Doctor Schedule

        </h3>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-primary">

                Generate

            </button>

            <a
                href="{% url 'dashboard:slot_list' %}"
                class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}