.venv
interface/appointments/__pycache__
src/appointments/migrations/__pycache__
src/interface/__pycache__
src/db.sqlite3
src/accounts/__pycache__
src/accounts/migrations/__pycache__
src/dashboard/__pycache__
src/dashboard/migrations/__pycache__
.agents
skills-lock.json
src/accounts/tests/__pycache__/
src/appointments/tests/__pycache__/
src/no_show_ML/__pycache__/
src/appointments/__pycache__/
src/appointments/management/commands/__pycache__/
