.venv
interface/appointments/__pycache__
interface/appointments/migrations/__pycache__
interface/interface/__pycache__
interface/db.sqlite3
interface/accounts/__pycache__
interface/accounts/migrations/__pycache__
interface/dashboard/__pycache__
interface/dashboard/migrations/__pycache__
