<h3 class="text-center mb-4">
    Hospital
</h3>

{% if request.user.is_superuser %}
    <a href="{% url 'dashboard:admin' %}">
        <i class="bi bi-speedometer2"></i>
        Dashboard
    </a>

    <a href="{% url 'dashboard:doctor_list' %}">
        <i class="bi bi-person-badge"></i>
        Doctors
    </a>

    <a href="{% url 'dashboard:slot_list' %}">
        <i class="bi bi-clock-history"></i>
        Time Slots
    </a>
{% elif request.user.patient %}
    <a href="{% url 'dashboard:patient' %}">
        <i class="bi bi-speedometer2"></i>
        Dashboard
    </a>

    <a href="{% url 'dashboard:booking_calendar' %}">
        <i class="bi bi-calendar-check"></i>
        Book Appointment
    </a>

    <a href="{% url 'dashboard:patient_appointments' %}">
        <i class="bi bi-list-check"></i>
        My Appointments
    </a>
{% elif request.user.doctor %}
    <a href="{% url 'dashboard:doctor' %}">
        <i class="bi bi-speedometer2"></i>
        Dashboard
    </a>

    <a href="{% url 'dashboard:slot_list' %}">
        <i class="bi bi-clock-history"></i>
        Time Slots
    </a>
{% endif %}